
  .slider {
    position: relative;
    max-width: 40rem;
    overflow: hidden;
    margin: auto auto;
    border: 1px solid black;
  }
  
  .slider:hover > .button-wrapper {
    width: 100%;
  }
  
  .item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* transition: transform 0.4s ease; */
  }
  
  .item-wrapper img {
    object-fit: cover;
  }
  
  .button-wrapper {
    position: absolute;
    width: calc(100% + 200px);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 25px));
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.25s ease;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .indicator-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .indicator.current {
    background-color: #777;
  }
  
  .indicator:not(.current):hover {
    background-color: #ddd;
  }
  