// main: ../main.less

/*____________________________NAVIGATION WITH MENU____________________________ */
#navbar {
  ul {
    width: 100%;
    font-size: 2rem;
    flex-grow: 1;
    margin: 1rem;
  }

  .fa-bars {
    display: none;
  }
}

header {
  margin: auto;
  padding: 1rem;

  .logo {
    color: var(--secondary-color);
    font-family: "poppins";
    font-size: 5rem;

    span {
      font-family: "poppins";
      margin-left: 1rem;
      font-size: 5rem;
    }

    .fa-shield-alt {
      font-size: 5rem;
    }

    a {
      color: var(--secondary-color);
    }
  }
}

/* -____________________________ NAVBAR ORNAMENT WITHOUT UL ____________________________ */
/* .ornament {
    position: relative;
}
.ornament:after {
    content: '';
    position: absolute;
    width: 28rem;
    height: 25%;
    top: 50%;
    transform: translate(0,-50%);   
    right: 2%;
    background: url('/Images/SVG/separator.svg') no-repeat;
}
.ornament:before {
    content: '';
    position: absolute;
    width: 28rem;
    height: 25%;
    top: 50%;
    transform: translate(0,-50%);
    left: 2%;
    background: url('/Images/SVG/separator.svg') no-repeat;
} */

/* ____________________________ FOOTER ____________________________ */
footer {
  background: #333;
  padding: 3rem 6rem;

  a, h5, p, i {
    color: white;
  }

  i {
    font-size: 3rem;
  }
}


@media screen and (max-width: 800px) {
  .logo {
    align-items: center;
  }

  #navbar {
    justify-content: flex-end;

    ul {
      display: none;
    }

    .fa-bars {
      display: block;
      font-size: 3rem;
    }
  }

  .ornament a {
    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }
}