#main-page {
  /* about */
  /* .img-about img {
        width: 400px;
        margin: 0 auto;
    
      } */
  /*  charges */
  /* value */
  /* monthly blazon */
  /*  carousel image */
}
#main-page .banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem;
}
#main-page .grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 10rem;
  grid-template-rows: 1fr;
  margin: auto;
}
#main-page .call-action {
  text-align: left;
  justify-self: center;
  align-self: center;
  color: var(--primary-color);
}
#main-page .call-action p {
  text-align: justify;
  width: 100%;
  font-size: 2.5rem;
}
#main-page .call-action h1 {
  font-weight: 800;
}
#main-page .call-action .btn {
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 5px;
  transition: 0.5s;
}
#main-page .about {
  margin: auto;
  padding: 80px;
}
#main-page .about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  align-items: center;
  height: 100%;
  grid-gap: 4rem;
  max-width: var(--max-width);
  margin: auto;
}
#main-page .img-about {
  margin: auto;
}
#main-page .text-about {
  line-height: 1.8;
}
#main-page .text-about h1 {
  text-align: center;
  margin: 20px 0;
  color: var(--primary-color);
}
#main-page .text-about p {
  text-align: justify;
  margin-bottom: 50px;
  color: var(--primary-color);
}
#main-page .button-container {
  width: 100%;
  text-align: center;
}
#main-page .section-charge {
  padding: 40px 150px;
  position: relative;
}
#main-page .section-charge::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #47a1fb 100%, #476dff 100%);
  z-index: -2;
  clip-path: polygon(0 0, 100% 3.5%, 100% 100%, 0 100.5%);
}
#main-page .section-charge::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0011c7;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  z-index: -1;
  opacity: 0.3;
  clip-path: polygon(0 0, 100% 3.5%, 100% 100%, 0 100.5%);
}
#main-page .charge-section {
  position: relative;
  max-width: var(--max-width);
  margin: auto;
}
#main-page .charge-section .title {
  text-align: center;
  margin-bottom: 60px;
}
#main-page .charge-wrapper {
  display: grid;
  /*disposition icones charges*/
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4rem;
  border: 1px solid black;
}
#main-page .charge-section .title,
#main-page .charge-wrapper {
  color: var(--light-color);
  /*color of Charges font*/
}
#main-page .charge-wrapper p {
  text-align: center;
  font-size: 1.5rem;
}
#main-page .charges {
  width: auto;
  height: auto;
  text-align: center;
  object-fit: cover;
}
#main-page .charges img {
  width: auto;
  height: 150px;
}
#main-page .charge-section .button-container {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}
#main-page #value {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 30px 0;
  max-width: var(--max-width);
  margin: auto;
  z-index: 3;
}
#main-page .value-title {
  color: var(--dark-color);
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
#main-page .carousel .button-container {
  margin-top: 10rem;
}
#main-page .carousel h3 {
  font-size: 50px;
  font-weight: bold;
  color: var(--dark-color);
  text-transform: uppercase;
}
#main-page .carousel p {
  font-size: 25px;
  font-weight: 400;
  color: var(--dark-color);
}
#main-page .carousel img {
  opacity: 0.5;
}
#main-page .random-blazon {
  height: 100%;
  padding: 50px;
  margin: auto;
  background: white;
  position: relative;
}
#main-page .random-blazon:after {
  background: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#main-page .blazon-container {
  max-width: var(--max-width);
  margin: auto;
}
#main-page .title {
  text-align: center;
  color: var(--dark-color);
}
#main-page .blazon-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  text-align: center;
  grid-gap: 1.5rem;
  margin: 95px 0px;
}
#main-page .blazon {
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 5px 10px  grey;
}
#main-page .blazon img {
  height: 250px;
  width: auto;
  margin-bottom: 20px;
}
#main-page .carousel-section {
  width: 100%;
  padding-top: 100px;
  background: white;
}
#main-page .carousel-section h1 {
  text-align: center;
}
#main-page .carousel_wrapper {
  width: 100%;
  height: 100%;
}
#main-page .image-carousel {
  width: 100%;
  height: auto;
}
#main-page .image-carousel img {
  height: 80vh;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}
#main-page .image-carousel img:hover {
  opacity: 0.7;
  transition: 0.5s;
}
