@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u-w4BMUTPHjxsIPy-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI9w2PHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHjxswWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI5wqPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u_w4BMUTPHjxsI3wiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u8w4BMUTPHh30wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh7USew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh50Xew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMbec.ttf) format('truetype');
}
:root {
  --primary-color: #141850;
  --secondary-color: #006ac6;
  --light-color: white;
  --light-opacity: rgba(255, 255, 255, 0.5);
  --dark-color: black;
  --dark-opacity: rgba(128, 128, 128, 0.35);
  --blue-light-color: #548dbd;
  --green-color: #198b7e;
  --orange-color: rgba(247, 154, 10, 0.1);
  --red-color: #df4571;
  --max-width: 90rem;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 1.8rem;
}
body:after {
  content: "";
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
  z-index: -6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
/* ________________SCROLL BAR_____________________________ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
/* ____________________________ SECTION POUR TOUTES LES PAGES____________________________ */
.main-section {
  max-width: var(--max-width);
  position: relative;
  margin: 2rem auto;
  padding: 0 1rem;
}
/* ____________________________ MEDIA QUERIES ____________________________ */
@media screen and (max-width: 620px) {
  .col-c-mobile-600 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ________COAT Old shield _______ */
  .old-shield-container .fa-chevron-left,
  .old-shield-container .fa-chevron-right {
    display: none;
  }
  /* ________COAT of arms MY _______ */
  .mycoat-logged small {
    gap: 0;
    margin: 1rem;
  }
  .mycoat-logged small a {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .row-sa-mobile {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .col-sb-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
  }
  .col-c-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem ;
  }
  .grid-wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    margin: auto;
  }
  .titre-section-mobile {
    font-size: 1.8rem;
  }
  /* ____________________________ */
  .logo {
    align-items: center;
  }
  #navbar {
    justify-content: flex-end;
  }
  #navbar ul {
    display: none;
  }
  #navbar .fa-bars {
    display: block;
    font-size: 3rem;
  }
  .ornament a:after {
    display: none;
  }
  .ornament a:before {
    display: none;
  }
  /* ____________________________ */
  .glossary-card {
    height: fit-content;
  }
  .creation-card {
    height: fit-content;
  }
  .etiquette-link {
    transform: translate(0%);
    width: 100%;
    background: var(--light-color);
    color: var(--secondary-color);
    transition: 0.5s;
  }
  .etiquette {
    transform: translate(0%);
    width: 100%;
    background: var(--light-color);
    color: var(--secondary-color);
    transition: 0.5s;
  }
  /* ____________________________*/
  .container-value .card-value {
    margin: auto;
  }
  /* _____________ Account settings _______________*/
  .use-social-media,
  .change-username,
  .change-email,
  .update-information,
  .password-section,
  .change-email {
    gap: 1rem;
    width: 100%;
  }
  /* _________ ORDER PAYMENT PAGE ________ */
  .purchase-paypal a {
    width: 100% ;
  }
}
@media screen and (max-width: 900px) {
  .col-c-mobile-900 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* _____________ Coat Download _______________*/
  .preview {
    border-right: none;
  }
  .information-box-download {
    margin: auto;
    width: 100%;
  }
  /* _________ ORDER PAYMENT PAGE ________ */
  #DiscountBox label {
    width: auto;
  }
}
/* ____________________________ IMAGES ____________________________ */
img {
  margin: auto;
}
.img-shadow {
  filter: drop-shadow(0.5rem 0.5rem 0.85rem #6e6e6e);
}
/* ____________________________UTILITIES STUFF ____________________________ */
.posr {
  position: relative;
}
.bg-w {
  background: var(--light-opacity);
}
.bo-light {
  border: 1px solid var(--dark-opacity);
}
/* ____________________________SEPARATORS____________________________ */
.separator {
  background: url("/Images/SVG/separator.svg") center center / contain;
  height: 15px;
}
.separatorh {
  background: url("/Images/sprites_4.0.png") no-repeat scroll center -425px;
  height: 10px;
  padding: 10px 0;
  overflow: hidden;
}
/*____________________________ SOCIAL NETWORK ____________________________ */
.message-box span {
  background: var(--light-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
}
.socialnetwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  /* border-top: 1px solid var(--primary-color); */
  /* border-bottom: 1px solid var(--primary-color); */
  color: var(--primary-color);
}
.socialnetwork .icons i {
  font-size: 3.5rem;
  transition: 0.5s;
}
.socialnetwork .icons i:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.socialnetwork .icons a:nth-child(1) {
  color: var(--secondary-color);
}
.socialnetwork .icons a:nth-child(2) {
  color: var(--blue-light-color);
}
.socialnetwork .icons a:nth-child(3) {
  color: var(--green-color);
}
/*____________________________NAVIGATION WITH MENU____________________________ */
header {
  margin: auto;
  padding: 1rem;
}
#navbar ul {
  width: 100%;
  font-size: 2rem;
  flex-grow: 1;
  margin: 1rem;
}
#navbar .fa-bars {
  display: none;
}
/* Esthéthique logo */
header .logo {
  color: var(--secondary-color);
  font-family: "poppins";
  font-size: 5rem;
}
header .logo span {
  font-family: "poppins";
  margin-left: 1rem;
  font-size: 5rem;
}
header .logo .fa-shield-alt {
  font-size: 5rem;
}
header .logo a {
  color: var(--secondary-color);
}
/* -____________________________ NAVBAR ORNAMENT WITHOUT UL ____________________________ */
/* .ornament {
    position: relative;
}
.ornament:after {
    content: '';
    position: absolute;
    width: 28rem;
    height: 25%;
    top: 50%;
    transform: translate(0,-50%);   
    right: 2%;
    background: url('/Images/SVG/separator.svg') no-repeat;
}
.ornament:before {
    content: '';
    position: absolute;
    width: 28rem;
    height: 25%;
    top: 50%;
    transform: translate(0,-50%);
    left: 2%;
    background: url('/Images/SVG/separator.svg') no-repeat;
} */
/* ____________________________ FOOTER ____________________________ */
footer {
  background: #333;
  padding: 3rem 6rem;
}
footer a,
footer h5,
footer p {
  color: white;
}
footer i {
  color: white;
  font-size: 3rem;
}
/* ____________________________BUTTONS____________________________*/
button {
  font-size: 1.8rem;
  line-height: 1.5;
}
.btn-dark {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 3rem;
  font-weight: 400;
  min-width: 25%;
  text-align: center;
  letter-spacing: 1px;
  transition: ease-out 0.3s;
  z-index: 1;
  cursor: pointer;
  background: none;
}
.btn-light {
  color: var(--light-color);
  border: 1px solid var(--light-color);
  padding: 0.5rem 3rem;
  font-weight: 400;
  min-width: 25%;
  letter-spacing: 1px;
  transition: ease-out 0.3s;
  z-index: 1;
  cursor: pointer;
  background: none;
}
.btn-disabled {
  opacity: 0.3;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 3rem;
  font-weight: 400;
  min-width: 25%;
  text-align: center;
  letter-spacing: 1px;
  z-index: 1;
  background: none;
}
.btn-dark:hover {
  box-shadow: inset 35rem 0 0 1px var(--secondary-color);
  color: var(--light-color);
  transition: ease-in 0.5s;
}
.btn-light:hover {
  box-shadow: inset 35rem 0 0 1px var(--light-color);
  color: var(--primary-color);
  transition: ease-in 0.5s;
}
/* ____________________________ BUTTON FOR SKIPPING PAGES ____________________________*/
.button-skip {
  display: flex;
  margin: auto;
  margin-top: 9rem;
  justify-content: center;
  align-items: center;
}
.button-skip i {
  font-size: 2rem;
  color: var(--primary-color);
}
.button-skip i:hover {
  color: var(--secondary-color);
  transition: 0.1s;
}
.button-skip p {
  font-size: 2rem;
  margin: 0 1rem;
  color: var(--primary-color);
}
sup a {
  color: #ff0000;
}
/* ____________________________ BUTTON ALTERNATIVE CHOICES ____________________________ */
.button-alternative {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.button-alternative a,
.button-alternative i {
  font-size: 1.8rem;
  color: var(--primary-color);
  transition: 0.5s;
}
/* ____________________________ HOVER SECTION BUTTON CHOICES ____________________________ */
.btn-alternative:hover i,
.button-alternative a:hover {
  color: var(--green-color);
  transition: 0.5s;
}
.button-alternative a:hover i {
  margin: 0 0.5rem;
  color: var(--green-color);
  transition: 0.5;
}
.button-alternative a:hover:last-child i:last-child {
  margin: 0 5px;
  transform: rotateZ(360deg);
  transition: 0.5;
}
/* ____________________________ WIDTH + HEIGHT____________________________*/
.w10 {
  width: 10rem;
}
.h10 {
  height: 10rem;
}
.w15 {
  width: 15rem;
}
.h15 {
  height: 15rem;
}
.w20 {
  width: 20rem;
}
.h20 {
  height: 20rem;
}
.w25 {
  width: 25rem;
}
.h25 {
  height: 25rem;
}
.w30 {
  width: 30rem;
}
.h30 {
  height: 30rem;
}
.w35 {
  width: 35rem;
}
.h35 {
  height: 35rem;
}
.w40 {
  width: 40rem;
}
.h40 {
  height: 40rem;
}
.w45 {
  width: 45rem;
}
.h45 {
  height: 45rem;
}
.w50 {
  width: 50rem;
}
.h50 {
  height: 50rem;
}
.w50p {
  width: 50%;
}
.w100 {
  width: 100%;
}
/*____________________________ PADDING + MARGIN ____________________________ */
.p05 {
  padding: 0.5rem;
}
.px05 {
  padding: 0 0.5rem;
}
.py05 {
  padding: 0.5rem 0;
}
.m05 {
  margin: 0.5rem;
}
.mx05 {
  margin: 0 0.5rem;
}
.my05 {
  margin: 0.5rem 0;
}
.p1 {
  padding: 1rem;
}
.px1 {
  padding: 0 1rem;
}
.py1 {
  padding: 1rem 0;
}
.m1 {
  margin: 1rem;
}
.mx1 {
  margin: 0 1rem;
}
.my1 {
  margin: 1rem 0;
}
.p2 {
  padding: 2rem;
}
.px2 {
  padding: 0 2rem;
}
.py2 {
  padding: 2rem 0;
}
.m2 {
  margin: 2rem;
}
.mx2 {
  margin: 0 2rem;
}
.my2 {
  margin: 2rem 0;
}
.p3 {
  padding: 3rem;
}
.px3 {
  padding: 0 3rem;
}
.py3 {
  padding: 3rem 0;
}
.m3 {
  margin: 3rem;
}
.mx3 {
  margin: 0 3rem;
}
.my3 {
  margin: 3rem 0;
}
.p4 {
  padding: 4rem;
}
.px4 {
  padding: 0 4rem;
}
.py4 {
  padding: 4rem 0;
}
.m4 {
  margin: 4rem;
}
.mx4 {
  margin: 0 4rem;
}
.my4 {
  margin: 4rem 0;
}
.p5 {
  padding: 5rem;
}
.px5 {
  padding: 0 5rem;
}
.py5 {
  padding: 5rem 0;
}
.m5 {
  margin: 5rem;
}
.mx5 {
  margin: 0 5rem;
}
.my5 {
  margin: 5rem 0;
}
.p6 {
  padding: 6rem;
}
.px6 {
  padding: 0 6rem;
}
.py6 {
  padding: 6rem 0;
}
.m6 {
  margin: 6rem;
}
.mx6 {
  margin: 0 6rem;
}
.my6 {
  margin: 6rem 0;
}
.p7 {
  padding: 7rem;
}
.px7 {
  padding: 0 7rem;
}
.py7 {
  padding: 7rem 0;
}
.m7 {
  margin: 7rem;
}
.mx7 {
  margin: 0 7rem;
}
.my7 {
  margin: 7rem 0;
}
.p8 {
  padding: 8rem;
}
.px8 {
  padding: 0 8rem;
}
.py8 {
  padding: 8rem 0;
}
.m8 {
  margin: 8rem;
}
.mx8 {
  margin: 0 8rem;
}
.my8 {
  margin: 8rem 0;
}
.p9 {
  padding: 9rem;
}
.px9 {
  padding: 0 9rem;
}
.py9 {
  padding: 9rem 0;
}
.m9 {
  margin: 9rem;
}
.mx9 {
  margin: 0 9rem;
}
.my9 {
  margin: 9rem 0;
}
.p10 {
  padding: 10rem;
}
.px10 {
  padding: 0 10rem;
}
.py10 {
  padding: 10rem 0;
}
.m10 {
  margin: 10rem;
}
.mx10 {
  margin: 0 10rem;
}
.my10 {
  margin: 10rem 0;
}
.ma {
  margin: auto;
}
/* ____________________________BORDERS____________________________ */
.bo1 {
  border: 1px solid black;
}
.bot1 {
  border-top: 1px solid black;
}
.bor1 {
  border-right: 1px solid black;
}
.bob1 {
  border-bottom: 1px solid black;
}
.bol1 {
  border-left: 1px solid black;
}
/* ____________________________ TEXT ALIGN ____________________________*/
.txtc {
  text-align: center;
}
.txtj {
  text-align: justify;
}
.txtl {
  text-align: left;
}
.txtr {
  text-align: right;
}
/* ____________________________UTILITIES TEXT ____________________________ */
a {
  color: var(--dark-color);
  text-decoration: none;
}
ul {
  list-style: none;
}
.utility-text {
  color: var(--secondary-color);
}
.gras {
  font-weight: 600;
  color: var(--primary-color);
}
.italic {
  font-style: italic;
}
/* ____________________________ H1 du HEADER (BLUE BANNER) TOUTES LES PAGES____________________________*/
.titre-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--light-color);
  background: var(--secondary-color);
  font-weight: 200;
  letter-spacing: 0.3rem;
  width: 100%;
  padding: 2rem;
  height: 6rem;
}
.first-title {
  color: var(--light-color);
  border-bottom: 1px solid white;
}
.titre-section span {
  font-weight: 500;
  border-top: 1px solid white;
  font-size: 2rem;
  margin-left: 1rem;
}
@media screen and (max-width: 800px) {
  .titre-section-mobile {
    font-size: 1.8rem;
  }
}
/* ____________________________ GRID ____________________________ */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}
/* ____________________________ FLEX ____________________________ */
.row-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row-se {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row-fs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row-fe {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.col-sa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.col-se {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.col-fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.col-fe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.gap1 {
  gap: 1rem;
}
.gap6 {
  gap: 6rem;
}
.gap11 {
  gap: 11rem;
}
.gap16 {
  gap: 16rem;
}
.gap21 {
  gap: 21rem;
}
.wrap {
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .row-sa-mobile {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .col-sb-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
  }
  .col-c-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem ;
  }
  .grid-wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    margin: auto;
  }
}
/* ____________________________PAGE ORDER VALUES AFTER TEST____________________________ */
.after-test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  text-align: center;
  max-width: 90rem;
  margin: auto;
  margin-top: 5rem;
  border-top: 1px solid black;
}
.after-test .box:first-child {
  border-right: 1px solid var(--primary-color);
}
.after-test .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 0px 5px rgb(46, 45, 45, 0.3); */
  max-width: 44rem;
  padding: 3rem;
}
.after-test .box p {
  font-weight: 300;
  text-align: center;
}
.after-test .values {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 1.1rem;
}
.after-test .values span {
  color: var(--primary-color);
}
.after-test .values-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 1.6rem;
}
.button-choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  border-top: 1px solid black;
}
.button-choices div:first-child a {
  color: var(--green-color);
}
.button-choices div:first-child a:hover {
  opacity: 0.8;
}
.after-test .placement {
  border: 0.2rem dotted var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem 9rem;
  margin-left: 0.5rem;
  opacity: 0.08;
}
.after-test .btn-values {
  padding: 0.5rem 6rem;
  background: var(--secondary-color);
  color: var(--light-color);
  cursor: pointer;
}
.after-test .btn-values::marker {
  color: black;
}
.after-test .btn-values:hover {
  background: var(--light-color);
  color: var(--primary-color);
  cursor: pointer;
}
/* ____________________________ PERSONALITY TEST ____________________________ */
#number::after {
  content: " / 12";
}
/* .choosing-container-personality-test {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    grid-gap: 1.5rem;
    text-align: center;
    max-width: 900px;
    margin: 0.9rem 0 2rem 0;
    color: var(--primary-color);
} */
.choosing-container-personality-test i {
  font-size: 3rem;
  position: relative;
}
.choosing-container-personality-test .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 5px #2e2d2d;
  transition: 0.5s;
}
.choosing-container-personality-test.box img {
  max-width: 60%;
  border: 1px solid black;
  position: relative;
}
.choosing-container-personality-test.box img {
  max-width: 60%;
  border: 1px solid black;
  position: relative;
}
.btn-1 {
  padding: 5px 60px;
  border-radius: 30px;
  background: var(--secondary-color);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.last-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--light-color);
  color: var(--primary-color);
  height: 6rem;
  margin-bottom: 3rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 0px 5px #2e2d2d;
  padding: 0 10px;
  transition: 0.3s;
}
.last-choice h3 {
  font-weight: 400;
}
.last-choice i {
  font-size: 2rem;
}
.choosing-container-personality-test .box:hover {
  background: var(--green-color);
  color: white;
  transform: scale(1.01);
  transition: 0.5s;
}
.choosing-container-personality-test .box:hover::after {
  content: "";
  background: url("/Images/SVG/check-solid.svg") no-repeat;
  position: absolute;
  width: 12%;
  height: 12%;
  top: 0;
  right: 5%;
  opacity: 0.5;
  z-index: 55;
}
.last-choice:hover {
  background: rgba(220, 30, 10, 0.7);
  color: white;
  transition: 0.2s;
}
.last-choice i {
  position: relative;
}
.last-choice:hover i::after {
  content: "";
  background: url("/Images/SVG/check-solid.svg") no-repeat;
  position: absolute;
  width: 120%;
  height: 120%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/* ____________________________PAGE ABOUT HERALDRY____________________________ */
/* ------------- ETIQUETTE EXCEPTION CARDS--------------- */
.creation-card {
  padding: 0 2rem 2rem 2rem;
  background: var(--secondary-color);
  color: var(--light-color);
  height: 40rem;
}
.creation-card .etiquette-link {
  padding: 0.5rem 0.5rem;
  transform: translate(0, -50%);
  transition: 0.5s;
}
.arrow-heraldry:hover {
  color: var(--green-color);
  margin-left: 1rem;
  transition: 0.5s;
}
/* ------------------ ETIQUETTE troisième TITRE ----------------------*/
.glossary-card {
  padding: 0 2rem 2rem 2rem;
  background: var(--secondary-color);
  color: var(--light-color);
  line-height: 1.8;
  height: 40rem;
}
.glossary-card .etiquette-link {
  transform: translate(0, -50%);
  transition: 0.5s;
}
/* ------------- H4 du HEADER ETIQUETTE (SOUS TITRE)--------------- */
.etiquette-link {
  transform: translate(100%);
  background: var(--light-color);
  color: var(--secondary-color);
  transition: 0.5s;
}
.etiquette-link:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}
.etiquette {
  transform: translate(100%);
  background: var(--light-color);
  color: var(--secondary-color);
  font-weight: 400;
  border: 1px solid var(--secondary-color);
  /* background: var(--primary-color);
    color: var(--light-color);
    font-weight: 300; */
  transition: 0.5s;
}
/* ____________________________PAGE CREATION TECHNIQUE PAGE 02____________________________ */
.mid-title {
  background: var(--light-color);
  color: var(--primary-color);
  height: 4rem;
  font-size: 2.5rem;
}
/* ____________________________PAGE CREATION TECHNIQUE PAGE 08____________________________ */
.slogan {
  background: var(--orange-color);
  border: 1px solid var(--blue-light-color);
}
/* ____________________________PAGE GLOSSARY____________________________ */
.alphabet a {
  padding: 0 0.5rem;
}
.alphabet a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.alphabet .actif {
  color: var(--secondary-color);
  font-weight: 500;
}
.alphabet .vide {
  text-decoration: none;
  pointer-events: none;
  opacity: 0.5;
}
/* ____________________________ SHOP ____________________________ */
.shop-introduction p {
  text-align: center;
  margin: auto;
  background: var(--orange-color);
  color: var(--primary-color);
  padding: 1rem;
  margin-top: 1rem;
}
.shop-box {
  background: var(--orange-color);
}
/* __________________________ SHOP TEASER ____________________________ */
.shopTeaser {
  position: relative;
  width: 100%;
  height: 290px;
  margin-bottom: 30px;
  overflow: hidden;
}
.shopTeaser > a {
  position: absolute;
  top: 0;
  height: 100%;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  display: block;
}
.shopTeaser > a:hover {
  height: 110%;
  cursor: pointer;
  top: -3%;
}
.shopTeaser > a:first-child {
  left: 0;
  max-width: 100%;
  z-index: 4;
}
.shopTeaser > a:first-child:hover {
  left: -2%;
}
.shopTeaser > a:nth-child(2) {
  left: 18%;
  z-index: 3;
}
.shopTeaser > a:nth-child(2):hover {
  left: 15%;
}
.shopTeaser > a:last-child {
  left: 50%;
  z-index: 2;
}
.shopTeaser > a:last-child:hover {
  left: 44%;
}
.shopTeaser > a > img {
  max-height: 100%;
}
/* ____________________________ OPTION STORE ____________________________ */
.optionsStore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background: rgba(247, 154, 10, 0.1);
  max-width: var(--max-width);
  padding: 1rem 5rem;
}
.add-name,
.add-values {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.optionsStore input {
  width: auto;
}
.optionsStore label {
  width: 100%;
}
#userfirstname,
#userlastname {
  height: 3.5rem;
  /* max-width: 21rem; */
}
.shop-zazzle {
  background: var(--orange-color);
}
.shop-zazzle img {
  transition: 0.5s;
}
.shop-zazzle img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
/* ____________________________ROLL OF ARMS ____________________________ */
.grid-wrapper .user-blazon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #e8ddc7;
  background: radial-gradient(circle, #e8ddc7 29%, #c4b394 100%);
}
.grid-wrapper .user-blazon:hover {
  background: #fff5e1;
  background: radial-gradient(circle, #fff5e1 32%, #c4b394 100%);
}
.grid-wrapper .user-blazon img {
  width: 100%;
}
/* ____________________________ TEST OR DIRECT ____________________________ */
.test-or-direct {
  display: grid;
  font-size: 18px;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-gap: 1.5rem;
  text-align: center;
  margin-top: 30px;
}
.test-or-direct .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20rem;
  width: 100%;
  box-shadow: 0px 0px 5px #2e2d2d;
  /* transition: 0.5s; */
}
.test-or-direct .box:hover {
  transition: 0.5s ease-in-out;
}
.test-or-direct .box:first-child::after,
.test-or-direct .box:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: -1;
  opacity: 0;
}
.test-or-direct .box:first-child::after {
  background: url("/Images/be-yourself-young-cute-boy-mock-up_23-2148462265.jpg") no-repeat center center / cover;
  transition: 0.5s ease-in-out;
}
.test-or-direct .box:last-child::after {
  background: url("/Images/Planche\ Contact-1b.jpg") no-repeat center center / cover;
  transition: 0.5s ease-in-out;
}
.test-or-direct .box:hover:first-child::after,
.test-or-direct .box:hover:last-child::after {
  opacity: 0.3;
}
.test-or-direct .take-test {
  margin: auto;
}
.test-or-direct p {
  margin-bottom: 30px;
  font-weight: 500;
}
.description-value {
  /* max-width: 90rem; */
  margin: auto;
  text-align: justify;
  line-height: 1.9;
  padding: 30px;
}
.description-value p {
  color: var(--primary-color);
}
.description-value span {
  font-weight: 700;
  color: var(--secondary-color);
}
.description-value:last-child span:last-child {
  display: block;
  text-align: center;
  margin-top: 10px;
}
/* ____________________________ SIGN IN OR CREATE ____________________________ */
.blazon-choose {
  background: url("/Images/SVG/logo-lion.svg") no-repeat center center / contain;
  width: 100%;
  height: 40rem;
}
.learn-more-heraldry {
  color: var(--light-color);
  background: var(--secondary-color);
}
.learn-more-heraldry p {
  font-size: 1.7rem;
  text-align: justify;
}
/* ____________________________ CHOOSE YOUR COAT OF ARM ____________________________ */
.coat-choice-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #555;
}
/**.coat-choice-container a {
    width: 80%;
} */
.coat-choice-container .values {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  font-size: 1.5rem;
  border: 1px solid black;
}
.coat-choice-container img {
  width: 60%;
}
.coat-choice-container a:hover {
  background: #006ac6;
  background: linear-gradient(90deg, #006ac6 0%, #045091 120%);
  color: var(--light-color);
}
.coat-choice-container a:hover .gras {
  color: var(--light-color);
}
/* ____________________________ BLAZON GENERATED ____________________________ */
.message-box {
  max-width: 90rem;
  background: #006ac6;
  background: linear-gradient(90deg, #006ac6 0%, #003d73 100%);
  color: var(--light-color);
  overflow: hidden;
  z-index: 2;
}
.message-box:after {
  content: "";
  background: url("/Images/SVG/corner-artdeco.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 22rem;
  top: -2rem;
  left: -3rem;
  opacity: 0.6;
  z-index: 1;
}
.message-box:before {
  content: "";
  background: url("/Images/SVG/corner-artdeco.svg") no-repeat;
  position: absolute;
  width: 100%;
  height: 22rem;
  bottom: -2rem;
  right: -3rem;
  opacity: 0.6;
  transform: rotate(180deg);
  z-index: 1;
}
.message-box p {
  line-height: 3;
}
.value-choosen-flex {
  margin-bottom: 5rem;
}
.value-choosen-flex .utility-text:hover {
  color: var(--green-color);
  opacity: 0.8;
  font-weight: 400;
}
.value-choosen-flex .value {
  align-items: flex-start;
}
.value-choosen-flex .value p {
  background: var(--blue-light-color);
  color: var(--light-color);
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.value-choosen-flex a:hover {
  color: var(--green-color);
}
/* ____________________________ NAME YOUR FAVORITE CHARACTER ____________________________ */
.form-name-character input {
  background-color: #fff;
  border: 1px solid #aaa0a3;
  width: 70%;
  line-height: 1rem;
  padding: 12px 15px;
  margin: auto;
}
.form-name-character input:last-child {
  width: 70%;
}
.skip-btn {
  text-align: right;
  width: 100%;
  transform: translate(0, -100%);
}
.skip-btn a,
.skip-btn i {
  opacity: 0.5;
}
.skip-btn:hover a {
  opacity: 1;
  color: var(--green-color);
}
.skip-btn a:hover i {
  opacity: 1;
  color: var(--green-color);
  transition: 0.5s;
}
/* ____________________________ NOW THIS IS YOUR COAT OF ARMS ____________________________ */
.container-resume {
  line-height: 2;
  margin: auto;
}
.resume {
  /* border-bottom: 1px solid var(--dark-color); */
  padding: 0 3rem;
  margin-top: 2rem;
}
.resume p {
  font-size: 1.8rem;
  margin: 1rem 0;
}
/* ____________________________ CUSTOMIZE YOUR SHIELD ____________________________ */
.creation .palettes button,
.glares button {
  overflow: hidden;
  padding: 7rem 0 0.5rem;
  border: 1px solid var(--dark-opacity);
  font-size: 13px;
  text-align: center;
  position: relative;
  width: 7rem;
  background: transparent url("/Images/sprite-ico-editor-3.1.png") no-repeat scroll 0 0;
}
.creation .glares button[class^="ico-"]:hover,
.creation .palettes button[class^="ico-"]:hover {
  background-color: #afdb90;
  cursor: pointer;
}
.creation .palettes button.ico-4 {
  background-position: -210px -180px;
}
.creation .palettes button.ico-5 {
  background-position: -280px -180px;
}
.creation .palettes button.ico-6 {
  background-position: -350px -180px;
}
.creation .glares button.ico-1 {
  background-position: 0 -90px;
}
.creation .glares button.ico-2 {
  background-position: -70px -90px;
}
.creation .glares button.ico-3 {
  background-position: -140px -90px;
}
/* ____________________________ EDIT YOUR SHIELD ____________________________ */
.customize-coat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 90rem;
}
.set {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  width: 22rem;
  background: var(--light-color);
  border: 1px solid var(--dark-opacity);
  /* box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem var(--dark-color); */
}
.set img {
  width: 25%;
  margin: 0;
}
.customize-coat .edit-charges a:hover div {
  background: var(--green-color);
  color: var(--light-color);
}
.blazon-apercu {
  background: var(--light-color);
  padding: 8rem;
  border: 1px solid var(--dark-opacity);
}
.quick-poll a {
  /* background: var(--secondary-color); */
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 3rem;
}
.quick-poll a:hover {
  background: var(--green-color);
  color: var(--light-color);
}
.quick-poll {
  margin-top: 5rem;
  margin-right: 2rem;
}
.quick-poll i {
  margin-right: 0.5rem;
}
.add-ornaments button {
  border: 1;
}
.add-ornaments button[class^=ico-] {
  padding: 61px 0 2px;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  width: 67px;
}
.add-ornaments [class^=ico-] {
  position: relative;
  border: 0.5px solid grey;
  overflow: hidden;
  background: url('/Images/sprite-ico-editor-3.1.png') no-repeat;
  background-color: white;
}
.add-ornaments [class^=ico-]:hover {
  background-color: var(--green-color);
  color: white;
  cursor: pointer;
}
.add-ornaments .ico-2 {
  background-position: -70px 0;
}
.add-ornaments .ico-4 {
  background-position: -140px 0;
}
.add-ornaments .ico-3 {
  background-position: -210px 0;
}
.add-ornaments .ico-4 {
  background-position: -70px 0;
}
.add-ornaments .ico-5 {
  background-position: -280px 0;
}
.add-ornaments .ico-6 {
  background-position: -350px 0;
}
/* ____________________________ SAVE YOUR SHIELD ____________________________ */
.preview {
  border-right: 1px solid var(--dark-opacity);
}
.preview img {
  border: 2px solid var(--dark-opacity);
  padding: 3rem;
}
/* ____________________________ FROM SCRATCH ____________________________ */
.grid-wrapper-scratch {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--light-opacity);
  /* border: 1px solid var(--dark-opacity); */
}
.grid-wrapper-scratch div {
  text-align: center;
  padding: 1rem;
}
.grid-wrapper-scratch div:hover {
  background: var(--orange-color);
}
/*____________________________ FROM SCRATCH COLOR ____________________________ */
#colorpicker {
  border: 1px solid rgba(0, 0, 0, 0.178);
  width: 70%;
  height: 5rem;
  margin: auto;
}
#colorpicker div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
}
#colorpicker div:hover {
  background: var(--green-color);
}
#colorpicker button {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
}
button.gules {
  background: red;
}
button.azur {
  background: blue;
}
button.sinople {
  background: green;
}
button.purepure {
  background: purple;
}
button.or {
  background: gold;
}
button.argent {
  background: silver;
}
button.sable {
  background: black;
}
/* ______________________MY COATS WHEN LOGGED________________ */
.main-section div:first-child h3 i {
  font-size: 1.8rem;
  color: var(--secondary-color);
  transition: 0.8s;
}
.main-section div:first-child h3 a:hover i {
  opacity: 0.8;
  transform: rotateZ(280deg);
  transition: 0.8s;
}
.mycoat-logged {
  margin-top: 2rem;
  max-width: var(--max-width);
}
.frosted {
  min-width: 50%;
  background: var(--light-opacity);
  padding: 2rem;
  position: relative;
}
.frosted img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 6rem;
}
.frosted p {
  position: relative;
  color: var(--light-color);
  margin: auto;
  line-height: 1;
  text-align: center;
  z-index: 5;
}
.frosted:after {
  content: "";
  position: absolute;
  top: 72%;
  left: 0;
  min-width: 100%;
  height: 20rem;
  background: url('/Images/SVG/banner-3.svg') no-repeat center center / cover;
  z-index: 1;
}
/* ______________________HISTORY COAT OF ARMS________________ */
.history-coats {
  background: var(--light-opacity);
  padding: 2rem;
}
.history-coats div:nth-child(2) {
  background: var(--orange-color);
  padding-top: 2rem;
}
.history-coats div:nth-child(2) small {
  background: var(--secondary-color);
  color: var(--light-color);
  padding: 1rem;
  margin-top: 2rem;
}
.history-coats div:nth-child(2) h3 {
  background: var(--primary-color);
  color: var(--light-color);
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.history-coats div:nth-child(2) a:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: 0.5s;
}
.history-coats a {
  min-width: 21rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.old-shield-container {
  background: var(--light-opacity);
  padding: 1rem 2rem;
}
.old-shield-container h3 {
  color: var(--secondary-color);
}
.old-shield {
  background: var(--orange-color);
  padding: 1.5rem;
}
.old-shield-container a i {
  font-size: 2.5rem;
  color: var(--primary-color);
}
.old-shield-container a:hover i {
  color: var(--secondary-color);
}
.old-shield-container img {
  filter: grayscale(1);
}
.old-shield-container a:hover img {
  filter: grayscale(0);
}
.friend-card {
  padding: 0.5rem 0;
  background: var(--secondary-color);
  color: var(--light-color);
  /* height: 40rem; */
}
.friend-card h3,
.other-card h3 {
  color: var(--light-color);
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  width: 100%;
}
.friend-card i {
  font-size: 10rem;
}
.friend-card a {
  color: var(--light-color);
}
.friend-card a:hover i,
.friend-card a:hover p {
  opacity: 0.8;
}
.other-card {
  padding: 0.5rem 0 1.2rem 0;
  background: var(--secondary-color);
  color: var(--light-color);
}
.other-card i {
  font-size: 3rem;
}
.other-card a i {
  color: white;
}
.other-card a:hover i {
  color: white;
  opacity: 0.8;
}
.other-card img {
  filter: grayscale(1);
  padding: 3rem;
}
.other-card a:hover img {
  filter: grayscale(0);
}
/* ____________________________PROCESS PROGRESSION BAR____________________________ */
.process {
  margin: auto;
}
.proc01,
.proc02,
.proc03,
.proc04 {
  position: relative;
  opacity: 0.5;
  width: 100%;
}
.proc01::after,
.proc02::after,
.proc03::after,
.proc04::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--green-color);
  z-index: -1;
  transform: skewx(-25deg);
}
.current {
  opacity: 1;
}
.process h3 {
  padding: 1rem 3rem;
  font-weight: 300;
  text-align: center;
  color: var(--light-color);
}
/*____________________________- COMPLEMENTAIRE SKEW ____________________________*/
.proc01:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  bottom: 0;
  width: 3rem;
  background: var(--green-color);
  z-index: -1;
}
.proc04:before {
  content: "";
  position: absolute;
  top: 0;
  right: -1.1rem;
  bottom: 0;
  width: 5rem;
  background: var(--green-color);
  z-index: -2;
}
/* ____________________________ LOADING READY ANIMATION ____________________________*/
.box-recent-coa {
  background: var(--light-color);
  width: max-content;
}
.box-recent-coa img:hover {
  background: var(--orange-color);
  padding: 2rem;
}
/* -----------------PASS CONTAINER---------------- */
.basic-pass,
.standard-pass,
.premium-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15rem;
  margin-bottom: 5rem;
  position: relative;
}
.titre-pass {
  font-size: 1.5rem;
}
.information-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 70%;
  padding: 1rem 2rem;
  background: var(--secondary-color);
  color: var(--light-color);
}
.information-box i {
  font-size: 5rem;
}
/* -----------------BASIC PASS---------------- */
.basic-pass {
  border: 3px solid var(--green-color);
}
.basic-pass:after {
  content: "";
  position: absolute;
  top: 101.1%;
  border-left: 7.5rem solid transparent;
  border-right: 7.5rem solid transparent;
  border-top: 4rem solid var(--green-color);
  z-index: -5;
}
.basic-pass .icon {
  display: flex;
  flex-direction: column;
  color: var(--green-color);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
.basic-pass .icon i {
  font-size: 5rem;
}
.basic-pass h4 {
  width: 100%;
  font-weight: 500;
  text-align: center;
  background: var(--green-color);
  color: var(--light-color);
}
.basic-pass small {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: var(--light-color);
  color: var(--green-color);
}
/* ---------------------STANDARD PASS------------------ */
.standard-pass {
  border: 3px solid var(--secondary-color);
}
.standard-pass:after {
  content: "";
  position: absolute;
  top: 101.1%;
  border-left: 7.5rem solid transparent;
  border-right: 7.5rem solid transparent;
  border-top: 4rem solid var(--secondary-color);
  z-index: -5;
}
.standard-pass .icon {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
}
.standard-pass .icon i {
  font-size: 5rem;
}
.standard-pass h4 {
  width: 100%;
  text-align: center;
  font-weight: 500;
  background: var(--secondary-color);
  color: var(--light-color);
}
.standard-pass small {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: var(--light-color);
  color: var(--secondary-color);
}
/* ---------------------PREMIUM PASS------------------ */
.premium-pass {
  border: 3px solid #df4571;
}
.premium-pass:after {
  content: "";
  position: absolute;
  top: 101.1%;
  border-left: 7.5rem solid transparent;
  border-right: 7.5rem solid transparent;
  border-top: 4rem solid #df4571;
  z-index: -5;
}
.premium-pass .icon {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  color: #df4571;
  width: 100%;
  text-align: center;
}
.premium-pass .icon i {
  font-size: 5rem;
}
.premium-pass h4 {
  width: 100%;
  font-weight: 500;
  text-align: center;
  background: #df4571;
  color: var(--light-color);
}
.premium-pass small {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: var(--light-color);
  color: #df4571;
}
/* _____________________ ORDER payment PAGE _____________________ */
.order-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 5rem 2rem;
  width: 100%;
  background: var(--light-opacity);
}
.order-information h3 {
  color: var(--light-color);
  font-weight: 400;
  background: var(--secondary-color);
  padding: 0rem 0.2rem;
  margin: auto;
}
.order-information .discount-link {
  color: var(--red-color);
  font-family: 'poppins';
}
.order-information .discount-link:hover {
  text-decoration: underline;
  color: var(--green-color);
}
.order-information i {
  transform: rotateX(360deg);
  transform: rotateY(180deg);
}
.order-information i.fa-tag {
  transform: rotateX(360deg);
  transform: rotateY(180deg);
}
.order-information i.fa-check {
  transform: rotateX(0);
  transform: rotateY(0);
}
#DiscountBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--orange-color);
  padding: 1rem;
}
#DiscountBox label {
  width: 60%;
}
.order-information .price-order {
  background: var(--light-opacity-color);
  width: 100%;
  text-align: right;
  color: #333;
}
.price-order p {
  padding: 0.5rem 1rem;
  border-top: 1px dotted #333;
}
.purchase-paypal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
/* ____________________________ SIGN IN SIGN UP ____________________________ */
.form {
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  text-align: center;
}
.sign-up-container .form {
  overflow: scroll;
  justify-content: flex-start;
  padding: 5rem;
  overflow-x: hidden;
}
.gender {
  display: flex;
}
input {
  background-color: #fcfcfc;
  border: 1px solid rgba(51, 51, 51, 0.2);
  padding: 12px 15px;
  margin: 8px 5px;
  line-height: 1rem;
  width: 100%;
}
#container-sign select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.container-signin {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}
.form-container-signin {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container-sign-in.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container-signin.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container-signin.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay {
  background: #006ac6;
  background: -webkit-linear-gradient(to right, #006ac6, #00417a);
  background: linear-gradient(to right, #006ac6, #00417a);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container-signin.right-panel-active .overlay {
  transform: translateX(50%);
}
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.overlay-left {
  transform: translateX(-20%);
}
.container-signin.right-panel-active .overlay-left {
  transform: translateX(0);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container-signin.right-panel-active .overlay-right {
  transform: translateX(20%);
}
#container-sign .form h1 {
  color: var(--secondary-color);
}
/* --------------------GENDER BUTTON------------------------- */
.container-gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-gender label {
  user-select: none;
}
.container-gender input[type="radio"] {
  display: none;
}
.container-gender input[type="radio"] + label {
  z-index: 10;
  margin: 1rem;
  position: relative;
  color: var(--secondary-color);
  font-weight: bold;
  background-color: var(--light-color);
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  transition: all 200ms ease;
}
.container-gender input[type="radio"]:checked + label {
  color: var(--light-color);
  background-color: var(--secondary-color);
}
.container-gender input[type="radio"] + label {
  padding: 0.5rem 2rem;
}
/* ------------------- SOCIAL LOGIN BUTTON ------------------ */
.social-container {
  margin: 20px 0;
}
.social-container a {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.social-container a:nth-child(1):hover {
  color: #3b5998;
}
.social-container a:nth-child(2):hover {
  color: #00acee;
}
.social-container a:nth-child(3):hover {
  color: #DB4437;
}
.social-container a:nth-child(4):hover {
  color: #0e76a8;
}
/* ____________________________ Account setting  ____________________________ */
.logged-message {
  width: 100%;
  background: var(--secondary-color);
  color: var(--light-color);
  padding: 0.2rem 2rem;
  margin: 2rem 0 0.5rem 0;
}
.logged-message .gras {
  color: var(--light-color);
}
.confirm-email {
  background: #efc770;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}
.confirm-email a {
  color: white;
  text-decoration: underline;
}
.confirm-email a:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 0.2s;
}
.form-account-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem 0;
}
.use-social-media,
.change-username,
.change-email,
.update-information {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 50%;
  padding: 2rem;
}
.password-section {
  display: flex;
  flex-direction: column;
  gap: 3;
  justify-content: flex-start;
  align-items: flex-start;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 2rem;
  width: 100%;
}
.change-username {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  width: 100%;
}
.change-email {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 2rem;
}
.form-account-container h3 {
  font-weight: 500;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 0.5rem;
  margin: auto;
}
.use-social-media a {
  color: var(--secondary-color);
  font-size: 5rem;
}
.use-social-media a:hover {
  filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.459));
  color: var(--primary-color);
  transform: rotateY(50deg);
  transform: rotateZ(10deg);
  transition: 0.4s;
}
.form-account-container .current-name {
  color: var(--primary-color);
  letter-spacing: 2px;
}
.update-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.update-information .btn-light {
  width: 60%;
  margin: auto;
}
.update-information select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
/* ____________________________ Choose your values  ____________________________ */
#friend,
#team {
  display: none;
  width: 30rem;
}
.search-bar {
  padding: 0.5rem 2rem;
  position: relative;
}
.search-bar::after {
  content: '';
  background: var(--light-opacity);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.filter-icon,
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.filter-icon i,
.search-icon i {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
.filter-icon img {
  width: 3rem;
  margin-top: 0.5rem;
}
.filter-icon img:hover,
.filter-icon i:hover {
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.315));
}
.search-icon input {
  width: 35rem;
  height: 3rem;
}
.blazon-for {
  padding: 2rem;
  margin: 1rem 0;
}
#value-btn {
  border: 1px solid var(--secondary-color);
  background: var(--light-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
  position: relative;
}
#value-btn:hover {
  color: var(--light-color);
  background: var(--secondary-color);
}
#grid-wrapper-value {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 0.5rem;
}
.choosen-values {
  width: 100%;
}
/* _____ CARDS VALUE __________ */
.container-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  margin: 1rem;
}
.container-value .card-value {
  position: relative;
  border-radius: 10px;
  height: 20rem;
}
.container-value .card-value .face {
  width: 20rem;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}
.container-value .card-value .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.card-value .face1::after {
  display: block;
  content: '';
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 160%;
  transform: translateY(-30%);
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transition: 0.5s;
}
.card-value img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  object-fit: contain;
}
.container-value .card-value .face.face2 {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  transition: 0.5s;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  z-index: 0;
}
.container-value .card-value .face.face2 p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}
.container-value .card-value .face.face2 h3 {
  text-align: center;
}
.container-value a {
  text-decoration: none;
  color: #333;
}
/* _________ section hover _________________ */
.card-value:hover .face1::after {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.5s;
}
.container-value .card-value:hover .face.face1 {
  background: #333;
  transform: translateY(-10px);
  z-index: 3;
}
.container-value .card-value:hover .face.face2 {
  transform: translateY(-1rem);
  z-index: 2;
}
.container-value a:hover {
  text-decoration: underline;
  color: #ff0057;
}
/* _________ section values shown _________________ */
#heroic,
#majesty,
#moral {
  display: none;
}
.values-shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color);
  border-radius: 0.5rem;
  background: var(--light-opacity);
  max-width: 83rem;
  padding: 1rem;
  margin: 0.5rem auto 3rem;
}
.values-shown h3 {
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.values-shown .values-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
}
.values-shown a {
  background: var(--secondary-color);
  color: var(--light-color);
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.values-shown a:hover {
  background: var(--primary-color);
  color: var(--light-color);
}
